lib/node-red/lora-sensor.json
[
    {
        "id": "899ee1a733157d92",
        "type": "subflow",
        "name": "protobuf",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "fe8a313d26fd6854"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 80,
                "wires": [
                    {
                        "id": "3892f1d8083d5321",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "fe8a313d26fd6854",
        "type": "function",
        "z": "899ee1a733157d92",
        "name": "base64 -> bytes",
        "func": "base64 = msg.payload.uplink_message.frm_payload\nbytes = Buffer.from(base64, 'base64')\n\nmsg.payload = bytes\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 80,
        "wires": [
            [
                "3892f1d8083d5321"
            ]
        ]
    },
    {
        "id": "3892f1d8083d5321",
        "type": "decode",
        "z": "899ee1a733157d92",
        "name": "Decode Packet",
        "protofile": "ed0bdc8f993ab456",
        "protoType": "Packet",
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ed0bdc8f993ab456",
        "type": "protobuf-file",
        "protopath": "/data/protobuf/packet.proto",
        "watchFile": true
    },
    {
        "id": "bf8b8bc80201c9b4",
        "type": "subflow:899ee1a733157d92",
        "z": "0bb2e6f7bb82ebc7",
        "name": "data",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "ce7d6cac08a80032",
                "4ee14b9cc5139056"
            ]
        ]
    },
    {
        "id": "ce7d6cac08a80032",
        "type": "function",
        "z": "0bb2e6f7bb82ebc7",
        "name": "inject stateTopic",
        "func": "msg.stateTopic = `homeassistant/sensor/${msg.payload.meta.deviceName}/state`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 420,
        "wires": [
            [
                "a6f0cd079092f668"
            ]
        ]
    },
    {
        "id": "25e20ee518db682a",
        "type": "function",
        "z": "0bb2e6f7bb82ebc7",
        "name": "state",
        "func": "msg.topic = msg.stateTopic\n\nattributes = {}\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    \n    attribute = msg.payload[i]\n    attribute_name = Object.keys(attribute)[1];         // e.g. temperature\n    value = Number(Object.values(attribute)[1]);        // e.g. 21.2\n    \n    switch (attribute_name) {\n        \n        case \"temperature\":\n            value = value.toFixed(1);\n            break;\n        case \"dewpoint\":\n            value = value.toFixed(1);\n            break;\n        case \"humidity\":\n            value = value.toFixed(0);\n            break;\n        case \"light\":\n            value = value.toFixed(0);\n            break;\n        case \"voltage\":\n            value = value.toFixed(1);\n            break;\n    }\n    \n    attributes[attribute_name] = Number(value)\n}\n\nmsg.payload = attributes\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 480,
        "wires": [
            [
                "bf7451cf92e0e2ee",
                "5741859a07fcf940"
            ]
        ]
    },
    {
        "id": "4ee14b9cc5139056",
        "type": "function",
        "z": "0bb2e6f7bb82ebc7",
        "name": "sensor type",
        "func": "msg.topic = \"sensorType\"\nmsg.payload = msg.payload.sensorType\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a6f0cd079092f668",
        "type": "function",
        "z": "0bb2e6f7bb82ebc7",
        "name": "entity attributes",
        "func": "msg.topic = \"attributes\"\nmsg.payload = msg.payload.attributes\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 420,
        "wires": [
            [
                "68f1bd3f9bd22bd2"
            ]
        ]
    },
    {
        "id": "5107bec1520ef0a6",
        "type": "function",
        "z": "0bb2e6f7bb82ebc7",
        "name": "ttnMetadata",
        "func": "dev_eui = msg.payload.end_device_ids.dev_eui\nrssi = msg.payload.uplink_message.rx_metadata[0].rssi\nsnr = msg.payload.uplink_message.rx_metadata[0].snr\n\nvar payload = {\n    device_id: dev_eui,\n    snr: snr,\n    rssi: rssi\n}\n\nmsg.topic = \"ttnMetadata\"\nmsg.payload = payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 360,
        "wires": [
            [
                "0c27bdc7d9d763f1"
            ]
        ]
    },
    {
        "id": "8c13c4dda63cc163",
        "type": "split",
        "z": "0bb2e6f7bb82ebc7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1450,
        "y": 420,
        "wires": [
            [
                "b324b2d51922a6ee"
            ]
        ]
    },
    {
        "id": "b324b2d51922a6ee",
        "type": "change",
        "z": "0bb2e6f7bb82ebc7",
        "name": "transfer topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.topic",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "delete",
                "p": "payload.topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 420,
        "wires": [
            [
                "1675a4a586ab19c1"
            ]
        ]
    },
    {
        "id": "4475c468f4e45482",
        "type": "function",
        "z": "0bb2e6f7bb82ebc7",
        "name": "configuration",
        "func": "// Home Assistant MQTT configuration \n\nvar didRun = context.get(\"didRun\")\n\nif (!didRun) {\n    \n    msg.payload = msg.payload.map ( (field)  => {\n        \n        entity_name =field.entityName;                  // e.g. SCD30\n        attribute_name = Object.keys(field)[1];         // e.g. temperature\n        value = Number(Object.values(field)[1]);        // e.g. 21.2\n        \n        attribute_name_capitalised = attribute_name.charAt(0).toUpperCase() + attribute_name.slice(1);\n        \n        object_id = attribute_name;\n        \n        topic = `homeassistant/sensor/greenhouse${attribute_name_capitalised}/config`\n        name = `Greenhouse ${attribute_name} (${entity_name})`\n        value_template = `{{ value_json.${attribute_name} }}`\n        \n        switch (attribute_name) {\n            \n            case \"temperature\":\n                device_class = \"temperature\"\n                unit_of_measurement = \"°C\"\n                break;\n            case \"dewpoint\":\n                device_class = \"temperature\"\n                unit_of_measurement = \"°C\"\n                break;\n            case \"humidity\":\n                device_class = \"humidity\"\n                unit_of_measurement = \"%\"\n                break;\n            case \"light\":\n                device_class = \"illuminance\"\n                unit_of_measurement = \"lx\"\n                break;\n            case \"voltage\":\n                device_class = \"voltage\"\n                unit_of_measurement = \"V\"\n                break;\n            case \"pressure\":\n                device_class = \"pressure\"\n                unit_of_measurement = \"mbar\"\n                break;\n        }\n        \n        return {\n            topic: topic,\n            name: name,\n            state_topic: msg.stateTopic,\n            value_template: value_template,\n            device_class: device_class,\n            unit_of_measurement: unit_of_measurement,\n            force_update: true,\n        }\n    })\n    \n    node.status({fill:\"green\",shape:\"dot\",text:\"configured\"})\n    context.set(\"didRun\", true)\n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "node.status({fill:\"red\",shape:\"ring\",text:\"configuring...\"})\ncontext.set(\"didRun\", false)\n",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 420,
        "wires": [
            [
                "8c13c4dda63cc163"
            ]
        ]
    },
    {
        "id": "0c27bdc7d9d763f1",
        "type": "function",
        "z": "0bb2e6f7bb82ebc7",
        "name": "LoRa attributes",
        "func": "entityName = \"LORA\"\n\nsnr = { \"entityName\": entityName, \"snr\": msg.payload.snr }\nrssi = { \"entityName\": entityName, \"rssi\": msg.payload.rssi }\n\nmsg.topic = \"lora\"\nmsg.payload = [snr, rssi]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 360,
        "wires": [
            [
                "68f1bd3f9bd22bd2"
            ]
        ]
    },
    {
        "id": "68f1bd3f9bd22bd2",
        "type": "join",
        "z": "0bb2e6f7bb82ebc7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 990,
        "y": 420,
        "wires": [
            [
                "107fd49dc3282525"
            ]
        ]
    },
    {
        "id": "107fd49dc3282525",
        "type": "function",
        "z": "0bb2e6f7bb82ebc7",
        "name": "concat",
        "func": "lora = msg.payload.lora\nattributes = msg.payload.attributes\n\nmsg.payload = attributes.concat(lora)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 420,
        "wires": [
            [
                "4475c468f4e45482",
                "25e20ee518db682a"
            ]
        ]
    },
    {
        "id": "5741859a07fcf940",
        "type": "debug",
        "z": "0bb2e6f7bb82ebc7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 540,
        "wires": []
    }
]